

.navbar-blue {
    background-color: #003366;
}

.text-element {
    color: white;
}

.hyperlink {
    color: white;
    padding-bottom: 1px;
}

.hyperlink:hover {
    color: white;
    font-weight: 900;
}

.hyperlink:hover,
.active {
    font-weight: 700;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navbar-nav > li {
    padding-right: 30px;
}

.banner {
    width: 65%;
    margin-top: 10px;
}