{% extends "administration.html" %}

{% block administration_content %}

    <h1>{{ _('Modify Types') }}</h1>

    <h2>{{ _('Add Type') }}</h2>

    <form class="administration-form" action="{{ url_for('modify_types') }}" method="post">

        <label for="administration-form-name">{{ _('New type') }}:</label>
        <input type="text" id="administration-form-name" name="Name">

        <input class="administration-form-submit" type="submit" value="{{ _('Enter') }}">

    </form>

    <h2>{{ _('Remove Type') }}</h2>

    <form class="administration-form" action="{{ url_for('modify_types') }}" method="post">

        <label for="administration-form-type">{{ _('Type') }}:</label>
        <div class="dropdown">
            <select id="administration-form-type" name="Type">

                <script>
                    var iter = 0;
                </script>

                {% for type in r_types %}

                    <option value="" id="noValueType">{{ type }}</option>

                    <script>
                        document.getElementById("noValueType").setAttribute("value", iter.toString(10));
                        document.getElementById("noValueType").removeAttribute("id");
                        iter++;
                    </script>

                {% endfor %}

            </select>
        </div>

        <input class="administration-form-submit" type="submit" value="{{ _('Enter') }}">

    </form>

{% endblock administration_content %}