{% extends "administration.html" %}

{% block administration_content %}

<h1>{{ _('Modify Disciplines') }}</h1>

<h2 style="margin-top:2%;">{{ _('Add Discipline') }}</h2>

<form class="administration-form" action="{{ url_for('modify_disciplines') }}" method="post">

    <label for="administration-form-name" >{{ _('New discipline') }}:</label>
    <input type="text" id="administration-form-name" name="Name">

    <input class="administration-form-submit" type="submit" value="{{ _('Enter') }}">

</form>

<h2 style="margin-top:2%;">{{ _('Remove Discipline') }}</h2>

<form class="administration-form" action="{{ url_for('modify_disciplines') }}" method="post">

    <label for="administration-form-disciplines">{{ _('Discipline') }}:</label>
    <div class="dropdown">
        <select name="Discipline" id="administration-form-disciplines">

            <option value="0" >{{ _('All') }}</option>

                <script>
                    var iter = 0;
                </script>

                {% for discip in r_disciplines %}

                <option value="" id="noValueDis">{{ discip }}</option>

                <script>
                    document.getElementById("noValueDis").setAttribute("value", iter.toString(10));
                    document.getElementById("noValueDis").removeAttribute("id");
                    iter++;
                </script>

                {% endfor %}

        </select>
    </div>

    <input class="administration-form-submit" type="submit" value="{{ _('Enter') }}">

</form>

{% endblock administration_content %}








