<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- setting viewport correctly -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>header_template</title>
</head>
<body>
    <hr style="border: 10px solid rgb(0, 61, 100);margin:0;" >
    <div class="row " style="background-color:rgb(0,61,100);margin:0;">
        <div class="col-sm-4"><img src="../static/image/banner.png" alt="banner of UA" style="padding:10px;width:100%;height:20"></div>
    </div>
    <hr style="border: 10px solid rgb(0, 61, 100);margin:0;" >


</body>
</html>