<!doctype html>
<head>
    <title>UAntwerpen ESP</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<h1> Hello! </h1>


<a href="researchgroups.html">click for research groups</a>

<p>add research group</p>

<style>
    .alert {
        width:50%;
        {#display: inline-block;#}
    }
</style>

{% if send == True %}
<div class="center-block" align="center">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Added research group to the database!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}


<form action="/researchgroups" method="post">
    <label>
        Group name:<br>
        <input type="text" name="name">
    </label>
    <br>
    <label>
        Abbreviation:<br>
        <input type="text" name="abbreviation">
    </label>
    <br>
    <label>
        Active:<br>
        <input type="checkbox" name="active"><br>
    </label>
    <br>
    <label>
        Address:<br>
        <input type="text" name="address"><br>
    </label>
    <br>
    <label>
        Telephone number:<br>
        <input type="text" name="telephone"><br>
    </label>
    <br>
    <label>
        <input type="submit" value="Enter">
    </label><br>
</form>
</body>