<!DOCTYPE html>
<style>
    #loginpopup {
        display: none;
        /*position:fixed;*/
        /*left:90%;*/
        /*height:200px;*/
    }

    .showPopupButton {
        border: none;
        background: #405080;
        color: white;
    }

    .btn-login {
        text-decoration: none;
        background: Transparent;
        border: none;
        color: white;
    }

    .btn-login:hover {
        background: #191f33;
    }

</style>

<html lang={{ lang }}>
<head>
    <title>ESP - {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login-popup.css') }}">

    {% block stylesheets %}{% endblock stylesheets %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" name="url picker">
        $(document).ready(function () {
            var elems = document.getElementsByName("url_redirect");
            for (i = 0; i < elems.length; i++) {
                elems[i].setAttribute("value", window.location.href);
            }
        })
    </script>

    <script type="text/javascript" name="login">
        function performLogin() {
            $("#login_form").on("submit", function (event) {
                event.preventDefault();
                var form = document.getElementById("login_form");
                var formData = {username: form["user"].value, password: form["pass"]};
                $.ajax({
                    url: "{{ url_for("login") }}",
                    type: "POST",
                    data: {username: form["user"].value, password: form["pass"].value}
                }).done(function (data) {
                    if(data === "true") {
                        console.log("ingelogd");
                        $("#login-modal").modal("hide");
                        document.location.reload(true)
                    }
                    else{
                        var failed = document.getElementById("login-failed");
                        failed.style.display = "block";
                    }
                });
            });
        }
    </script>

    {% block scripts %}{% endblock scripts %}

</head>
<body>


<div class="container-fluid">


    <header id="header">
        <div class="row navbar-blue">
            <div class="col" style="margin:0 ">
                <a href="{{ url_for('index') }}">
                    <img class="banner" src="{{ url_for('static', filename="image/banner2.png") }}" alt="ESP banner">
                </a>
            </div>
            <div class="col float-right">
                <form method="get" action="{{ url_for('pick_language') }}" class="float-right">
                    <input type="hidden" name="url_redirect" value="">
                    <button class="btn-lang" type="submit" value="nl" name="send">nl</button>
                    <button class="btn-lang" type="submit" value="en" name="send">en</button>
                </form>

            </div>
        </div>
        <div class="row navbar-blue" style="padding-bottom: 0.5%">
            <div class="col" style="padding-left: 0">
                <nav class="navbar" style="padding: 2px">
                    <div class="container">
                        <ul class="nav navbar-nav flex-row flex-col">
                            <li class="nav-item">
                                <a class=" hyperlink {{ "active" if page=="index" }}" href="{{ url_for('index') }}">
                                    {{ _('Home') }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class=" hyperlink {{ "active" if page=="projects" }}"
                                   href="{{ url_for('show_projects') }}">
                                    {{ _('Projects') }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class=" hyperlink {{ "active" if page=="rgroups" }}"
                                   href="{{ url_for('show_research_groups') }}">
                                    {{ _('Research groups') }}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class=" hyperlink {{ "active" if page=="people" }}"
                                   href="{{ url_for('show_people') }}">
                                    {{ _('People') }}
                                </a>
                            </li>
                            {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class=" hyperlink {{ "active" if page=="bookmarks" }}"
                                       href="{{ url_for('index') }}">
                                        {{ _('Bookmarks') }}
                                    </a>
                                </li>
                            {% endif %}
                            {% if 'admin' in current_user.rolesi %}
                            <li class="nav-item">
                                <a class=" hyperlink {{ "active" if page=="administration" }}"
                                   href="{{ url_for( 'get_administration' ) }}">
                                    {{ _('Administration') }}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
            {% if current_user.is_authenticated %}
              <div class="col text-right">
                <button class="btn-login" data-toggle="modal" onclick="window.location.href='{{ url_for('logout') }}'">
                    Logout
                </button>
            </div>
            {% else %}
            <div class="col text-right">
                <button class="btn-login" data-toggle="modal" data-target="#login-modal">
                    Login
                </button>
            </div>
            {% endif %}
        </div>
    </header>

    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Login</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="login_form">
                        <div class="alert alert-danger" id="login-failed" style="display:none">
                            {{ _('Wrong username or password') }}
                        </div>
                        <div class="form-group">
                            <label for="user" style="margin-bottom: 5px">{{ _('Username') }}</label>
                            <input id="user" class="form-control" type="text" placeholder="{{ _('username') }}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="pass" style="margin-bottom: 5px">{{ _('Password') }}</label>
                            <input id="pass" class="form-control" type="password" placeholder="{{ _('password') }}"
                                   required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="login_form" class="btn btn-primary" onclick="performLogin()">Login
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- login popup -->
    <div class="col-14 float-right" id="loginpopup">
        <div class="float-right" style="margin-bottom: 0">
            {% if not current_user.is_authenticated %}
                <label style="display:flex;">
                    <small>
                        {{ _('username') }}:
                        <input type="text" name="Search_query">
                    </small>
                </label>
                <label style="display:flex;">
                    <small>
                        {{ _('password') }}:
                        <input type="text" name="Search_query">
                    </small>
                </label>
            {% endif %}
        </div>
    </div>
</div>

{% block body %}

{% endblock body %}
</body>
</html>
