<!DOCTYPE html>
<html lang={{ lang }}>
<head>
    <title>ESP - {% block title %}{% endblock title%}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block stylesheets %}{% endblock stylesheets %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>


<div>
    <div class="navbar-blue">
        <div class="col-sm-4" id="drag-with-image" draggable="true">
            <img class="banner" src="{{ url_for('static', filename='image/banner2.png') }}" alt="ESP banner" >
        </div>
        <script>
            document.getElementById("drag-with-image").addEventListener("dragstart", function(e) {
            var img = document.createElement("img");
            img.src = "{{ url_for('static', filename='image/wof.png') }}";
            e.dataTransfer.setDragImage(img, 0, 0);
            }, false);
        </script>
    </div>
    <nav class="navbar navbar-blue" style="margin-bottom: 0px">
        <ul class="navbar-nav flex-row" id="nav">
            <li class="nav-item text-element">
                <a class="nav-link hyperlink {{ "active" if page=="index" }}" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item text-element">
                <a class="nav-link hyperlink {{ "active" if page=="projects" }}" href="{{ url_for('show_projects') }}">Projects</a>
            </li>
            <li class="nav-item text-element">
                <a class="nav-link hyperlink {{ "active" if page=="rgroups" }}" href="{{ url_for('show_research_groups') }}">Research groups</a>
            </li>
            <li class="nav-item text-element">
                <a class="nav-link hyperlink {{ "active" if page=="people" }}" href="{{ url_for('show_people') }}">People</a>
            </li>
        </ul>
    </nav>
</div>

{% block body %}

{% endblock body %}
</body>
</html>