{% extends "layout.html" %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/side-bar-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/content-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/people-table-style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdownSelection.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/administration-form.css') }}">

{% endblock stylesheets%}

{% block scripts %}

<script src="{{ url_for('static', filename='js/close-menus.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropdownMenus.js') }}"></script>

{% endblock scripts%}

{% block title %}{{ _('People') }}{% endblock title %}

{% block body %}


<div style="display: flex">

    <form class="side-bar" action="{{ url_for('show_people') }}" method="get">

        <label class="side-bar-input">
            {{ _('Name') }}:
            <input type="text" class="form-control-sm" name="Name">
        </label>

        <label class="dropdown">
            {{ _('Research group') }}:
            <select name="Research_group">
                <option value="0">{{ _('All') }}</option>


                <!-- todo: check if this also can move to external file -->
                <script>
                    var iter = 0;
                </script>

                {% for group in r_researchGroups %}

                <option value="" id="noValue">{{ group.name }}</option>

                <script>
                    iter++;
                    document.getElementById("noValue").setAttribute("value", iter.toString(10));
                    document.getElementById("noValue").removeAttribute("id");
                </script>

                {% endfor %}

            </select>
        </label>

        <label class="dropdown">
            {{ _('Promotor') }}:
            <select name="Promotor">
                <option value="0">{{ _('All') }}</option>
                <option value="1">{{ _('Yes') }}</option>
                <option value="2">{{ _('No') }}</option>
            </select>
        </label>

        <input type="submit" value="{{ _('Search') }}">

    </form>

    <div class="page-content">
        <h1>{{ _('People') }}</h1>

        <button class="page-content-button" data-toggle="modal" data-target="#modal-form-staff">{{ _('add staf') }}</button>

        <div id="modal-form-staff" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form class="modal-body administration-form" action="{{ url_for('add_staff') }}" method="post">

                            <label for="administration-form-name">{{ _('Name') }}:</label>
                            <input type="text" id="administration-form-name" name="Name">

                            <label for="administration-form-email">{{ _('E-mail') }}:</label>
                            <input type="text" id="administration-form-email" name="Email">

                            <label for="administration-form-office">{{ _('Office address') }}:</label>
                            <input type="text" id="administration-form-office" name="Office">

                            <label for="administration-form-researchgroup">{{ _('Research group') }}:</label>
                            <div class="dropdown">
                                <select name="Researchgroup" id="administration-form-researchgroup">

                                    <script>
                                            iter = 0;
                                    </script>

                                    {% for group in r_researchGroups %}

                                    <option value="" id="noGroupName">{{ group.name }}</option>

                                    <script>
                                        document.getElementById("noGroupName").setAttribute("value", iter.toString(10));
                                        document.getElementById("noGroupName").removeAttribute("id");
                                        iter++;
                                    </script>

                                    {% endfor %}

                                </select>
                            </div>

                            <label for="administration-form-title">{{ _('Title') }}:</label>
                            <div class="dropdown">
                                <select name="Title" id="administration-form-title">
                                    <option value="0">{{ _('professor') }}</option>
                                    <option value="1">{{ _('phd') }}</option>
                                    <option value="2">{{ _('none') }}</option>
                                </select>
                            </div>

                            <label for="administration-form-role">{{ _('Role') }}:</label>
                            <div class="dropdown">
                                <select name="Role" id="administration-form-role">
                                    <option value="0">{{ _('intern') }}</option>
                                    <option value="1">{{ _('extern') }}</option>
                                </select>
                            </div>

                            <label for="administration-form-active">{{ _('Active') }}:</label>
                            <input type="checkbox" id="administration-form-active" name="Active">

                            <label for="administration-form-promotor">{{ _('Promotor') }}:</label>
                            <input type="checkbox" id="administration-form-promotor" name="Promotor">

                            <input class="administration-form-submit" type="submit" value="{{ _('Enter') }}">
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <table class="content-table ">
            <tr>
                <th class="th-1">{{ _('Name') }}</th>
                <th class="th-2">{{ _('Research group') }}</th>
                <th class="th-3">{{ _('Promotor') }}</th>
            </tr>

            {% for person in r_values %}

            <tr>
                <td><a href="{{ url_for('get_person', id=person[3]) }}">{{ person[0] }}</a></td>
                <td>{{ person[1] }}</td>
                <td>
                    {% if person[2] == True %}
                        &#10004;
                    {% elif person[2] == False %}
                        &#10060;
                    {% endif %}
                </td>
            </tr>

            {% endfor %}

        </table>
    </div>
</div>

<script>setUpDropdowns()</script>


{% endblock body %}