{% extends "layout.html" %}

{% block title %}{{ _('Employee') }}{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/content-style.css') }}">

{% endblock stylesheets %}

{% block body %}

<div style="display:flex;">


    <div class="page-content">
        <h1>{{ r_person.name }}</h1>

        {% if 'admin' in current_user.roles %}

            <button class="page-content-button" data-toggle="modal" data-target="#remove-confirmation">{{ _('remove employee') }}</button>

            <div id="remove-confirmation" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>{{ _('Are you sure you want to remove this employee?') }}</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{ url_for('apply_remove_person', id=r_person.id) }}" method="post">
                                <button class="page-content-button" name="remove" type="submit">{{ _('Yes') }}</button>
                            </form>
                            <button class="page-content-button" name="cancel" data-dismiss="modal">{{ _('No')}}</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}




    </div>

</div>


{% endblock body %}