{% extends "layout.html" %}

{% block title %}{{ _('Projects') }}{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/side-bar-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/content-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/project-table-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdownSelection.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/multi-select.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/administration-form.css') }}">

{% endblock stylesheets %}

{% block scripts %}


<script src="{{ url_for('static', filename='js/close-menus.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropdownMenus.js') }}"></script>
<script src="{{ url_for('static', filename='js/multi-select.js') }}"></script>
<script src="{{ url_for('static', filename='js/multiple-text-input.js') }}"></script>
<script src="{{ url_for('static', filename='js/add-project-ajax.js') }}"></script>

<script src="{{ url_for('static', filename='js/text-input-suggestions.js') }}"></script>
<script src="{{ url_for('static', filename='js/limit_accept.js')}}"></script>

<script src="{{ url_for('static', filename='plugin/tinymce/tinymce.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/init-tinymce-administration.js') }}"></script>
<script src="{{ url_for('static', filename='js/filter-projects.js') }}"></script>

{% endblock scripts %}

{% block onReadyCalls %}
   setUpDropdowns();
   setUpMultiSelection();
   setUpMultipleTextInput();
   filterProjects();
{% endblock onReadyCalls %}

{% block body %}


<div style="display:flex;">

    <form class="side-bar" action="{{ url_for('apply_filter_projects') }}" method="get">


        <label>
          {{ _('Search query') }}:
          <input id="SQInput" type="text" class="form-control-sm" name="Search_query" onKeyUp="filterProjects()">
        </label>


        <label class="multi-select">
            {{ _('Type') }}:
            <select id="type" name="Type" onchange="filterProjects()" multiple>
                <option value="0" >{{ _('All') }}</option>

                 <script>
                    var iter = 0;
                </script>

                 {% for type in r_types %}

                 <option value="" id="noValueType">{{ type }}</option>

                 <script>
                    iter++;
                    document.getElementById("noValueType").setAttribute("value", iter.toString(10));
                    document.getElementById("noValueType").removeAttribute("id");
                </script>


                 {% endfor %}
            </select>
        </label>

        <label class="multi-select">
            {{ _('Disciplines') }}:
            <select id="disciplines" name="Disciplines" onchange="filterProjects()" multiple>
                <option value="0" >{{ _('All') }}</option>

                <script>
                    var iter = 0;
                </script>

                {% for discip in r_disciplines %}

                <option value="" id="noValueDis">{{ discip }}</option>

                <script>
                    iter++;
                    document.getElementById("noValueDis").setAttribute("value", iter.toString(10));
                    document.getElementById("noValueDis").removeAttribute("id");
                </script>

                {% endfor %}

            </select>
        </label>




        <label class="dropdown">
            {{ _('Research group') }}:
            <select id="researchGroup" name="Research_group" onchange="filterProjects()">
                <option value="0">{{ _('All') }}</option>


                <script>
                    iter = 0;
                </script>

                {% for group in r_researchGroups %}

                <option value="" id="noValue">{{ group.name }}</option>

                <script>
                    iter++;
                    document.getElementById("noValue").setAttribute("value", iter.toString(10));
                    document.getElementById("noValue").removeAttribute("id");
                </script>

                {% endfor %}

            </select>
        </label>


        <label class="dropdown">
            {{ _('Status') }}:
            <select id="status" name="Status" onchange="filterProjects()">
                <option value="0">{{ _('All') }}</option>
                <option value="1">{{ _('Available projects only') }}</option>
                <option value="2">{{ _('Assigned projects only') }}</option>
            </select>
        </label>

        <input type="submit" value="{{ _('Search') }}">

    </form>


    <!-- Vanaf hier komen de projecten -->

    <div class="page-content">
        <h1>{{ _('Projects') }}</h1>

          {% if ('admin' or 'staff') in current_user.roles %}

             <button class="page-content-button" data-toggle="modal" data-target="#modal-form-project">{{ _('add project') }}</button>

             <div id="modal-form-project" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <form id="add-project-form" class="modal-body administration-form" action="" method="post">
                            <label for="administration-form-title">{{ _('Title') }}:</label>
                            <input type="text" id="administration-form-title" name="Title">

                            <label for="administration-form-max">{{ _('Maxstudents') }}:</label>
                            <input type="number" id="administration-form-max" name="Maxstudents">

                            <label for="administration-form-researchgroup">{{ _('Research group') }}:</label>
                            <div class="multi-select input-block">
                                <select name="Researchgroup" id="administration-form-researchgroup" multiple>
                                    <option value="0" >{{ _('All') }}</option>

                                     <script>
                                        iter = 0;
                                     </script>

                                     {% for group in r_researchGroups %}

                                     <option value="" id="noGroupName">{{ group.name }}</option>

                                     <script>
                                        iter++;
                                        document.getElementById("noGroupName").setAttribute("value", iter.toString(10));
                                        document.getElementById("noGroupName").removeAttribute("id");
                                     </script>

                                     {% endfor %}

                                </select>
                            </div>

                            <label for="administration-form-discipline">{{ _('Discipline') }}:</label>
                            <div class="multi-select input-block">
                                <select id="administration-form-discipline" name="Discipline" multiple>
                                    <option value="0" >{{ _('All') }}</option>

                                    <script>
                                        iter = 0;
                                    </script>

                                    {% for discipline in r_disciplines %}

                                    <option value="" id="noDiscipline">{{ discipline }}</option>

                                    <script>
                                       iter++;
                                       document.getElementById("noDiscipline").setAttribute("value", iter.toString(10));
                                       document.getElementById("noDiscipline").removeAttribute("id");
                                    </script>

                                     {% endfor %}
                                </select>
                            </div>

                            <label for="administration-form-type">{{ _('Type') }}:</label>
                            <div class="multi-select input-block">
                                <select id="administration-form-type" name="Type" multiple>
                                     <option value="0" >{{ _('All') }}</option>

                                     <script>
                                        iter = 0;
                                     </script>

                                     {% for type in r_types %}

                                     <option value="" id="noType">{{ type }}</option>

                                     <script>
                                        iter++;
                                        document.getElementById("noType").setAttribute("value", iter.toString(10));
                                        document.getElementById("noType").removeAttribute("id");
                                    </script>

                                     {% endfor %}
                                </select>
                            </div>

                            <label for="administration-form-description">{{ _('description') }}:</label>
                            <div class="administration-form-textarea input-block">
                                <textarea class="tinymce" id="administration-form-description" name="Description"></textarea>
                            </div>

                            <div class="multi-text-input" id="Promotors">
                                <label for="administration-form-promotor">{{ _('Promotors') }}:</label>

                                <div class="input-block">

                                    <div class="suggestion-block">
                                        <input type="text" id="administration-form-promotor" name="Promotors">
                                        <div id="administration-form-promotor-suggestions" class="dropdown-items dropdown-hide text-suggestion-input-dropdown"></div>
                                        <script>setUpSuggestions($("#administration-form-promotor"), $("#administration-form-promotor-suggestions"), "/check/empl_names")</script>
                                    </div>

                                    <button id="administration-form-promotor-add">{{ _('add') }}</button>
                                    <script>setUpOnlyAcceptLimited($("#administration-form-promotor"), $("#administration-form-promotor-add"), "/check/empl_name_correct")</script>
                                </div>
                            </div>


                            <div class="multi-text-input" id="Tags">
                                <label for="administration-form-tags">{{ _('Tags') }}:</label>

                                <div class="input-block">

                                    <input type="text" id="administration-form-tags" name="Tags">
                                    <button id="administration-form-tag-add">{{ _('add') }}</button>
                                    <script>standardConnectAddClick($("#administration-form-tag-add"))</script>
                                </div>
                            </div>

                            <div class="multi-text-input" id="Related">
                                <label for="administration-form-related">{{ _('Related projects') }}</label>

                                <div class="input-block">

                                    <div class="suggestion-block">
                                        <input type="text" id="administration-form-related" name="Related">
                                        <div id="administration-form-related-suggestions" class="dropdown-items dropdown-hide text-suggestion-input-dropdown"></div>
                                        <script>setUpSuggestions($("#administration-form-related"), $("#administration-form-related-suggestions"), "/check/project_titles")</script>
                                    </div>


                                    <button id="administration-form-related-add">{{ _('add') }}</button>
                                    <script>setUpOnlyAcceptLimited($("#administration-form-related"), $("#administration-form-related-add"), "/check/project_title_correct")</script>
                                </div>
                            </div>

                            <input class="administration-form-submit" type="submit" value="{{ _('Enter') }}">
                        </form>
                        <script>setupFormAddProject()</script>
                    </div>
                </div>
            </div>

         {% endif %}

        <table id="project_list" class="content-table project-table">
            <tr id="project_list_header">
            <th class="th-1">{{ _('title') }}</th>
            <th class="th-2">{{ _('research group') }}</th>
            <th class="th-3">{{ _('assigned students') }}</th>
            </tr>
            <!--wordt gebruikt om te positioneren van project list-->
        </table>

    </div>

</div>

<script type="text/javascript">

    var Data  = {{alt|tojson|safe}};
    obj = JSON.parse(Data);

    var k = 0;
    {% for project in r_projects %}
    obj[k].href ="{{ url_for('project_page', id=project.ID) }}";
    k++;
    {% endfor %}

</script>


{% endblock body %}