{% extends "layout.html" %}

{% block title %}{{ _('Projects') }}{% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/side-bar-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/content-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/project-table-style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dropdownSelection.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/multi-select.css') }}">

{% endblock stylesheets %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/close-menus.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropdownMenus.js') }}"></script>
<script src="{{ url_for('static', filename='js/multi-select.js') }}"></script>

{% endblock scripts %}

{% block body %}


<div style="display:flex;">

    <form class="side-bar" action="{{ url_for('apply_filter_projects') }}" method="get">


        <label>
          {{ _('Search query') }}:
          <input type="text" class="form-control-sm" name="Search_query">
        </label>


        <label class="dropdown">
            {{ _('Type') }}:
            <select name="Type">
                <option value="0">{{ _('All') }}</option>
                <option value="1">{{ _('Bachelor dissertation') }}</option>
                <option value="2">{{ _('Master thesis') }}</option>
                <option value="3">{{ _('Research internship 1') }}</option>
                <option value="4">{{ _('Research internship 2') }}</option>
            </select>
        </label>



        <label class="multi-select">
            {{ _('Disciplines') }}:
            <select name="Disciplines" multiple>
                <option value="0" >{{ _('All') }}</option>

                <script>
                    var iter = 0;
                </script>

                {% for discip in r_disciplines %}

                <option value="" id="noValueDis">{{ discip }}</option>

                <script>
                    iter++;
                    document.getElementById("noValueDis").setAttribute("value", iter.toString(10));
                    document.getElementById("noValueDis").removeAttribute("id");
                </script>

                {% endfor %}

            </select>
        </label>




        <label class="dropdown">
            {{ _('Research group') }}:
            <select name="Research_group">
                <option value="0">{{ _('All') }}</option>


                <script>
                    iter = 0;
                </script>

                {% for group in r_researchGroups %}

                <option value="" id="noValue">{{ group.name }}</option>

                <script>
                    iter++;
                    document.getElementById("noValue").setAttribute("value", iter.toString(10));
                    document.getElementById("noValue").removeAttribute("id");
                </script>

                {% endfor %}

            </select>
        </label>


        <label class="dropdown">
            {{ _('Status') }}:
            <select name="Status">
                <option value="0">{{ _('All') }}</option>
                <option value="1">{{ _('Available projects only') }}</option>
                <option value="2">{{ _('Assigned projects only') }}</option>
            </select>
        </label>

        <input type="submit" value="{{ _('Search') }}">

    </form>


    <!-- Vanaf hier komen de projecten -->

    <div class="page-content">
        <h1>{{ _('Projects') }}</h1>

        <p>{{ _('Explanations') }}</p>

        <table class="content-table project-table">

            <tr>
                <th class="th-1">{{ _('title') }}</th>
                <th class="th-2">{{ _('research group') }}</th>
                <th class="th-3">{{ _('assigned students') }}</th>
            </tr>

        {% for project in r_values %}

            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.getMyResearchGroup.name }}</td>
                <td>[ 0 / {{ project.maxStudents }} ]</td> <!-- todo: replace 0 by an parameter -->
            </tr>

        {% endfor %}

        </table>

    </div>

</div>

<script>setUpDropdowns()</script>
<script>setUpMultiSelection()</script>

{% endblock body %}