{% extends "layout.html" %}
{% block title %}Research groups{% endblock title %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/side-bar-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/research-group-table-style.css') }}">

{% endblock stylesheets %}

<script>
    $(document).ready(function () {
        $('#verticalScroll').DataTable({
            "scrollY": "50vh",
            "scrollCollapse": true,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>
{% block body %}

    <div style="display:flex;">

{#        <div class="side-bar">#}
{##}
{#        </div>#}

        <div class="page-content">

            <h1>Research Groups</h1>

            <table class="content-table group-table table-sm" id="verticalScroll" >
                <thead>
                <tr>
                    <th class="th-sm">
                        <strong>Name</strong>
                    </th>
                    <th class="th-sm">
                        <strong>Abbreviation</strong>
                    </th>
                    <th class="th-sm">
                        <strong>Discipline</strong>
                    </th>
                    <th class="th-4">
                        <strong>active</strong>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for group in r_groups %}
                    <tr>
                        <td>
                            {{ group.name }}
                        </td>
                        <td>
                            {{ group.abbreviation }}
                        </td>
                        <td>
                            {{ group.discipline }}
                        </td>
                        <td>
                            {% if group.active == True %}
                                &#10004;
                            {% else %}
                                &#10060;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock body %}