{% extends "administration.html" %}

{% block table_style %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/research-group-table-style.css') }}">

{% endblock table_style %}

{% block administration_content %}

        <h1>{{ _('Research groups') }}</h1>

        {% if 'admin' in current_user.roles %}

            <button class="page-content-button" data-toggle="modal"
                    data-target="#modal-form-group">{{ _('add group') }}</button>

            <div id="modal-form-group" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form class="modal-body administration-form" action="{{ url_for('add_research_group') }}"
                              method="post">
                            <label for="administration-form-name">{{ _('Group name') }}:</label>
                            <input type="text" id="administration-form-name" name="Name">

                            <label for="administration-form-abbreviation">{{ _('Abbreviation') }}: </label>
                            <input type="text" id="administration-form-abbreviation" name="Abbreviation">

                            <label for="administration-form-discipline">{{ _('Disciplines') }}:</label>
                            <div class="dropdown">
                                <select id="administration-form-discipline" name="Discipline">

                                    <script>
                                        var iter = 0;
                                    </script>

                                    {% for discip in r_disciplines %}

                                        <option value="" id="noValueDis">{{ discip }}</option>

                                        <script>
                                            document.getElementById("noValueDis").setAttribute("value", iter.toString(10));
                                            document.getElementById("noValueDis").removeAttribute("id");
                                            iter++;
                                        </script>

                                    {% endfor %}

                                </select>
                            </div>

                            <label for="administration-form-address">{{ _('Address') }}:</label>
                            <input type="text" id="administration-form-address" name="Address"><br>


                            <label for="administration-form-telephone">{{ _('Telephone number') }}:</label>
                            <input type="text" id="administration-form-telephone" name="Telephone"><br>


                            <input class="administration-form-submit" type="submit" value="{{ _('Enter') }}">
                        </form>
                    </div>
                </div>
            </div>

        {% endif %}

        <table class="table" id="verticalScroll">
            <thead>
            <tr>
                <th class="th-sm">
                    <strong>{{ _('Name') }}</strong>
                </th>
                <th class="th-sm">
                    <strong>{{ _('Abbreviation') }}</strong>
                </th>
                <th class="th-sm">
                    <strong>{{ _('Discipline') }}</strong>
                </th>
                {% if 'admin' in current_user.roles %}
                    <th class="th-sm">
                        <strong>{{ _('Active') }}</strong>
                    </th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for group in r_groups %}

                {% if (group.active == True or 'admin' in current_user.roles) and (group.ID != 1) %}
                    <tr>
                        <td>
                            <a href="{{ url_for('group_page', id=group.ID) }}">{{ group.name }}</a>
                        </td>
                        <td>
                            {{ group.abbreviation }}
                        </td>
                        <td>
                            {{ group.discipline }}
                        </td>

                        {% if 'admin' in current_user.roles %}
                            <td>
                                {% if group.active == True %}
                                    &#10004;
                                {% elif group.active == False %}
                                    &#10060;
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

{% endblock administration_content %}