<!DOCTYPE html>
<html lang="en">
<head>
    <title>UAntwerpen ESP</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="navbar-blue">
    <div class="col-sm-4">
        <img class="banner" src="{{ url_for('static', filename='image/banner.png') }}" alt="ESP banner">
    </div>
</div>

{% block body %}
    <table border="1px">
        <tr>
            <td>
                <strong>Name</strong>
            </td>
            <td>
                <strong>Abbreviation</strong>
            </td>
            <td>
                <strong>Discipline</strong>
            </td>
            <td>
                <strong>Address</strong>
            </td>
            <td>
                <strong>tel nr</strong>
            </td>
            <td>
                <strong>desc</strong>
            </td>
            <td>
                <strong>active</strong>
            </td>
        </tr>
        {% for group in r_groups %}
            <tr>
                <td>
                    {{ group.name }}
                </td>
                <td>
                    {{ group.abbreviation }}
                </td>
                <td>
                    {{ group.discipline }}
                </td>
                <td>
                    {{ group.address }}
                </td>
                <td>
                    {{ group.telNr }}
                </td>
                <td>
                    {{ group.desc }}
                </td>
                <td>
                    {% if group.active == True %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock body %}