.page-content {
    display: inline-block;
    width: 88%;
    margin-left: 12%;
    margin-right: 0px;
    margin-top: 20px;
}

.page-content  h1, h2, h3, h4, h5, h6, p {
    color: #003366;
}

.page-content  h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, th::selection, td::selection {
    color: white;
    background: #003366;
}

.page-content  h1::-moz-selection, h2::-moz-selection, h3::-moz-selection, h4::-moz-selection, h5::-moz-selection, h6::-moz-selection, p::-moz-selection, th::-moz-selection, td::-moz-selection {
    color: white;
    background: #003366;
}

.page-content  h1 {
    padding-top: 10px;
}

.content-table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
}

.content-table th {
    border-bottom: 1px solid #003366;
    padding: 20px;
}


.content-table  td {
    padding: 30px;
    text-align: left;
}

.content-table tr {
    color: #003366;
}

.page-content-button {
    display: inline-block;
    color: white;
    background-color: #003366;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    height: 3.5%;
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
}


.page-content  .page-content-button::selection {
    background-color: white;
    color: #003366;
}

.page-content  .page-content-button::-moz-selection {
    background-color: white;
    color: #003366;
}

.page-content a:link {
    color: #003366;
}

.page-content a:visited {
    color: rgba(0, 51, 102, 0.7);
}

.page-content a:hover {
    color: #660033;
}

.page-content a:active {
    color: rgba(102, 0, 51, 0.7);
}
