.page-content {
    display: inline-block;
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
}

.page-content > h1, h2, h3, h4, h5, h6, p {
    color: #003366;
}

.page-content > h1 {
    padding-top: 10px;
}

.project-table {
    display: block;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
}


.project-table > tr, th {
    width: 100%;
    border-bottom: 1px solid #003366;
    padding: 20px;
}

.project-table > tr, td {
    padding: 30px;
    text-align: left;
}

.project-table > tr, th, td {
    color: #003366;
}