.side-bar {
    position: sticky;
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    height: 1000px;
    background-color:#D3D3D3;
    margin-top: 0;
}

.side-bar > div {
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color:#003366;
}

.side-bar > input, label {
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: #003366;
}

.side-bar > label > input {
    background-color:white;
    color:#003366;
    width: 100%;
}

.side-bar > div > p::selection, label::selection {
    color: white;
    background: #003366;
}

.side-bar > div > p::-moz-selection, label::-moz-selection {
    color: white;
    background: #003366;
}

.side-bar-input > input::selection {
    background-color:#003366;
    color:white;
}

.side-bar-input > input::-moz-selection {
    background-color:#003366;
    color:white;
}