.side-bar {
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    height: 1000px;
    background-color:#660033;
    margin-top: 0px;
}

.side-bar > div {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

.form-group {
    margin-top:0px;
    margin-bottom: 5px;
}

.dropdown-bar{
    display: inline-block;
    margin-top:0px;
    margin-bottom:5px;
}

.dropdown-bar > p {
    color:white;
}

.btn-bar {

    float: left;
    background-color:#003366;
    color:white;
    display: inline;
    text-overflow-mode: ellipsis;
    overflow: hidden;
    width: 100%;
}

.dropdown-menu-bar {
    min-width:95%;
}

.dropdown-item-bar {
    color: #003366;
    background-color: white;
}

.dropdown-item-bar:active {
    color:white;
    background-color: #003366;
}

.dropdown-item-bar:hover {
    cursor: pointer;
}