.side-bar {
    position: sticky;
    display: inline-flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    background-color:#003366;
    margin-left: 0;
    margin-top: 0;
    box-shadow:0 2px 0px 0 rgba(117, 211, 0, 0.3),0 2px 0px 0 rgb(255, 255, 255);
}

.side-bar > div {
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
}

.side-bar > label {
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
}

.side-bar > label > input {
    background-color:white;
    color: #003366;
    width: 100%;
}

.side-bar-button {
    display: inline-block;
    color: #003366;
    background-color: white;
    padding:6px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.side-bar > div > p::selection, label::selection {
    color: white;
    background: #003366;
}

.side-bar > div > p::-moz-selection, label::-moz-selection {
    color: white;
    background: #003366;
}

.side-bar-input > input::selection, .side-bar-button::selection {
    background-color:#003366;
    color:white;
}

.side-bar-input > input::-moz-selection, .side-bar-button::-moz-selection {
    background-color:#003366;
    color:white;
}
