.navbar-blue {
    background-color: #003366;
}


.text-element {
    color: white;
    font-size: 90%;
}

.hyperlink {
    color: white;
    padding-bottom: 1px;
}

.hyperlink:hover {
    color: white;
    font-weight: 900;
}

.hyperlink:hover,
.active {
    font-weight: 700;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.navbar-nav > li {
    padding-right: 5vmin;
}

.banner {
    width: 35%;
    margin-top: 5px;
}

a::selection {
    color: #003366;
    background: white;
}

a::-moz-selection {
    color: #003366;
    background: white;
}