.navbar-blue {
    background-color: #003366;
}

.btn-lang {
	background-color: Transparent;
	border: 0;
	color: white;
	padding: 0;
	font-size: 80%;
}

.active,
.btn-lang:hover {
	text-decoration: underline;
}


.text-element {
    color: white;
    font-size: 90%;
}

.hyperlink:active,
.hyperlink {
    color: white;
    padding-bottom: 1px;
	font-size: 90%
}

.hyperlink:hover {
    color: white;
    font-weight: 900;
}

.hyperlink:hover,
.active {
    font-weight: 700;
}

.navbar-nav > li {
    padding-right: 5vmin;
}

.banner {
    width: 20%;
    margin-top: 0.5%;
	margin-bottom: 0.5%;
}

a::selection {
    color: #003366;
    background: white;
}

a::-moz-selection {
    color: #003366;
    background: white;
}