<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask testing</title>
</head>
<body>
<table border="1px">
    <tr>
        <td>
            <strong>Name</strong>
        </td>
        <td>
            <strong>Abbreviation</strong>
        </td>
        <td>
            <strong>Discipline</strong>
        </td>
        <td>
            <strong>Address</strong>
        </td>
        <td>
            <strong>tel nr</strong>
        </td>
        <td>
            <strong>desc</strong>
        </td>
        <td>
            <strong>active</strong>
        </td>
    </tr>
    {% for group in r_groups %}
        <tr>
            <td>
                {{ group.name }}
            </td>
            <td>
                {{ group.abbreviation }}
            </td>
            <td>
                {{ group.discipline }}
            </td>
            <td>
                {{ group.address }}
            </td>
            <td>
                {{ group.telNr }}
            </td>
            <td>
                {{ group.desc }}
            </td>
            <td>
                {% if group.active == True %}
                Yes
                {% else %}
                No
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
<a href="../">back</a>
</body>
</html>